<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Up</title>
</head>

<body>
    <form action="/logUp_api" method="POST">
        <input placeholder="name" type="text" name="name" />
        <input placeholder="email" type="email" name="email" />
        <input placeholder="password" type="password" name="password" />
        <button type="submit">Login</button>
    </form>

</body>

</html>